{
  "openapi": "3.1.0",
  "info": {
    "title": "Constantin Luckenbach Public API",
    "description": "Public, read-only profile and service status data. No authentication is required.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://luckenbach.io"
    }
  ],
  "paths": {
    "/api/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get Constantin Luckenbach's public profile and contact links",
        "responses": {
          "200": {
            "description": "Public profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Check public API availability",
        "responses": {
          "200": {
            "description": "Service is available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "required": ["name", "description", "highlights", "links"],
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "highlights": {
            "type": "array",
            "items": { "type": "string" }
          },
          "links": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "required": ["status", "service", "version"],
        "properties": {
          "status": { "type": "string", "const": "ok" },
          "service": { "type": "string" },
          "version": { "type": "string" }
        }
      }
    }
  }
}
