---
import Layout from '../layouts/Layout.astro';
---

<Layout title="@calbch">
    <main>
        <img src="/avatar_small.jpg" alt="Avatar image" />
        <h1>@calbch</h1>
        <h2>bounty hunter - brother in tech</h2>
        <ul>
            <li><a href="https://github.com/calbch">GitHub</a></li>
            <li><a href="https://twitter.com/calbch">X the everything app</a></li>
        </ul>
    </main>
</Layout>

<style>
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: white;
    color: black;
    font-family: 'Berkeley Mono', monospace;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    letter-spacing: -2px;
    margin: 0.5rem 0 0.25rem;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0.4rem 0 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    text-align: center;
}

li {
    margin: 0.5rem 0;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

a:hover {
    border-bottom: 2px solid black;
}
</style>
