---
import BaseHead from "../components/base-head.astro";
import Footer from "../components/footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  lang = "en",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <a class="skip-link" href="#main-content">Skip to content</a>
        <main id="main-content">
            <slot />
        </main>
        <Footer />
    </body>
</html>
<style>
    main {
        min-height: 100vh;
        padding: 2rem 1rem;
        max-width: 72rem;
        margin: 0 auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 480px) {
        main {
            padding: 1rem;
        }
    }
</style>
