---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";
const posts = await getCollection("blog", ({ data }) => {
  return data.published;
});

posts.sort((a, b) => {
  if (!a.data.publishingDate) {
    return 1;
  }
  if (!b.data.publishingDate) {
    return -1;
  }
  return (
    new Date(b.data.publishingDate).getTime() -
    new Date(a.data.publishingDate).getTime()
  );
});
---

<BaseLayout title="Writing | @luckenco" description="this is where you can find my writing and explorations.">
    <a href="/" class="back-link">← home</a>
    <h1>writing</h1>
    <p>coming soon..</p>
    <ul>
        {posts.map(post => (
        <li>
            <a href=`/writing/${post.id}`>{post.data.title}</a>
        </li>
        ))}
    </ul>
</BaseLayout>

<style>
    .back-link {
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: black;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 0.5rem;
    }

    li:before {
        content: ">";
        margin-right: 0.5rem;
    }

    li a {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid black;
    }

    li a:hover {
        border-bottom: 2px solid black;
    }
</style>
